@import "tailwindcss";

@theme {
  --animate-shimmer: shimmer 2s infinite;
  --animate-spin-slow: spin 3s linear infinite;

  @keyframes shimmer {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(100%); }
  }
}
